// spawn-at-startup "/usr/lib/policykit-1-pantheon/io.elementary.desktop.agent-polkit"
spawn-at-startup "xwayland-satellite" ":3"
// spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "swww-daemon"
spawn-at-startup "clipman"
spawn-at-startup "wlsunset" "-S" "9:30" "-s" "17:00" "-t" "3500" "-d" "1800"
// workaround audio crackling with EasyEffects' crystalizer
spawn-at-startup "pw-metadata" "-n" "settings" "0" "clock.force-quantum" "1024"
prefer-no-csd

environment {
	DISPLAY ":3"
}

cursor {
	xcursor-theme "Adwaita"
	xcursor-size 24
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}

input {
	focus-follows-mouse
    keyboard {
      xkb {
        layout "de,us"
      }
    }

    touchpad {
        tap
        natural-scroll
        click-method "clickfinger"
    }

    mouse {
        accel-speed 0.0
        accel-profile "flat"
    }
}

// Shitty laptop screen
output "Chi Mei Optoelectronics corp. 0x15A7 Unknown" {
	scale 0.95
}

layout {
    gaps 8
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        // proportion 0.66666
        proportion 0.75
    }
    default-column-width {}

    // You can change how the focus ring looks.
    focus-ring {
        // off
        width 2
        // active-color "#aa69f8"
        active-color "lightblue"
        // active-gradient from="#00ba5e" to="#72b536" angle=45 relative-to="workspace-view"
    }
}
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d---%H-%M-%S.png"

animations {
    // off
    slowdown 1.0
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
  	match app-id="com.moonlight_stream.Moonlight$"
  	default-column-width { proportion 1.0; }
}

window-rule {
	match app-id="foot"
	default-column-width { proportion 0.5; }
	// default-window-height { proportion 0.6; }
}

window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="zen$" title="^Picture-in-Picture$"
    match app-id="librewolf$" title="^Picture-in-Picture$"

    open-floating true
    default-floating-position x=12 y=12 relative-to="top-right"
}

/- window-rule {
	open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {
    Mod+Shift+0 { show-hotkey-overlay; }

    Mod+Pause { spawn "bash" "/home/alexia/.local/bin/darkmode.sh" "prefer-dark"; }
    Mod+Delete { spawn "bash" "/home/alexia/.local/bin/darkmode.sh" "prefer-light"; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return { spawn "foot"; }
    Mod+Space { spawn "wofi" "--show" "drun" "--conf" "/etc/xdg/wofi/config" "--style" "/etc/xdg/wofi/style.css"; }
    // Mod+Space { spawn "fuzzel"; }
    Super+L { spawn "swaylock"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+10%"; }
    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+N { spawn "swaync-client" "-t" "-sw"; }

    Mod+KP_Add allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    Mod+KP_Subtract allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }

    Mod+Q { close-window; }
	Mod+Y { toggle-window-floating; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+I              { focus-workspace-down; }
    Mod+U              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+I         { move-column-to-workspace-down; }
    Mod+Ctrl+U         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+I         { move-workspace-down; }
    Mod+Shift+U         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+TouchPadScrollDown    { spawn "brightnessctl" "set" "+2.5%"; }
    Mod+TouchPadScrollUp  { spawn "brightnessctl" "set" "2.5%-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Tab  { consume-window-into-column; }
    Mod+dead_circumflex { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-7.5%"; }
    Mod+Plus { set-column-width "+7.5%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus { set-window-height "+10%"; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
