[Unit]
Description=One-shot default wallpaper setter service.
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/swww img /usr/share/backgrounds/default.webp
ExecStart=touch $HOME/.cache/.swww-success
ConditionPathExists=$HOME/.cache/.swww-success

[Install]
WantedBy=graphical-session.target
