[Unit]
Description=One-shot default wallpaper setter service.
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/swww img /usr/share/backgrounds/default.webp
ExecStart=systemctl --user disable swww-wallpaper.service

[Install]
WantedBy=graphical-session.target
